<div class="row">
  <div>
    <div class="col-md-3">Nome</div>
    <div class="col-md-3">Tipo</div>
    <div class="col-md-3">Organizador</div>
    <div class="col-md-3">Data</div>
  </div>
  <div ng-repeat="event in events">
    <div ng-click="openEvent(event.id)" class="event">
      <div class="col-md-3">{{ event.name }}</div>
      <div class="col-md-3">{{ event.event_type }}</div>
      <div class="col-md-3">{{ event.organizer }}</div>
      <div class="col-md-3">{{ event.date | date : "dd/MM/yyyy" }}</div>
    </div>
  </div>
</div>

